.login-register-btn {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    width: 1000px;
    font-size: 20px;
}

.login-register-btn a {
    text-decoration: none;
    padding: 0 1rem;
    color: snow;
}

.login-register {
    display: flex;
    justify-content: center;
    width: 99vw;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.body {
    font-family: "Rubik", sans-serif;
}

.homepage-header {
    color: snow;
    font-size: 40px;
}

.intro-page {
    overflow: hidden;
    background-image: url("/img/home-bg.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.modal-btn {
    background-color: red;
}

#login-modal {
    background: transparent;
    border: none;
}
