.regitration-body {
    align-items: center;
    background-image: url("/img/home-bg.jpg");
    display: flex;
    font-family: "Rubik", sans-serif;
    height: 97vh;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.registration-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5% 8%;
    color: snow;
    border-radius: 5px;
}

.register-input {
    border: 1px solid #00a7e1;
    border-radius: 5px;
    padding: 2%;
    outline: none;
}

.register-button {
    width: 172px;
    border: 1px solid snow;
    border-radius: 5px;
    padding: 2% 20%;
    background-color: #00a7e1;
    color: snow;
    cursor: pointer;
    font-size: 14px;
}

.register-button:hover {
    background-color: #007ca5;
}

.registration-form a {
    color: snow;
    text-decoration: none;
    font-size: 12px;
}
