@import "homepage/homepage.scss";
@import "loginpage/loginpage.scss";
@import "registerpage/registerpage.scss";
@import "navigation/navigation.scss";
@import "approval/approval.scss";
@import "dashboard/dashboard.scss";
@import "history/history.scss";
@import "deposits/deposits.scss";
@import "deposits/deposits-popup.scss";
@import "withdrawals/withdrawals.scss";
@import "about/about.scss";
@import "cryptoDerivatives/cryptoDerivatives.scss";
@import "footer/footer.scss";
@import "admin/admin-transactions.scss";
@import "admin/admin-users.scss";
@import "my-account/my-account.scss";
@import "loader/loader.scss";

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex-grow: 1;
}

table {
    width: 50%;
    margin: auto;
}

table,
th,
td {
    border: 1px solid black;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.admin-dashboard {
    // display: flex;
    // justify-content: center;
    width: 50%;
    margin: auto;
}

.admin-list {
    display: flex;
    width: 50%;
    margin: auto;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}
