.wrapper_approval {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.approval_section {
    width: 69%;
}

.wrapper_approval h1 {
    margin-top: 3rem;
}

.wrapper_approval h2 {
    color: rgb(47, 248, 47);
}
