.login-body {
    background-color: snow;
    display: flex;
    height: 97vh;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

.login-form {
    background-color: #00a7e1;
    padding: 5% 20%;
    color: snow;
    border-radius: 5px;
}

.email-label {
    font-size: 16px;
}

.password-label {
    font-size: 16px;
}

.login-button {
    width: 172px;
    border: 1px solid snow;
    border-radius: 5px;
    padding: 2% 20%;
    background-color: #00a7e1;
    color: snow;
    cursor: pointer;
    font-size: 14px;
}

.login-button:hover {
    background-color: snow;
    color: #00a7e1;
}

.login-form a {
    color: snow;
    text-decoration: none;
    font-size: 12px;
}

.email-input {
    border: 1px solid snow;
    border-radius: 5px;
    padding: 2%;
    margin-top: 5px;
}

.password-input {
    border: 1px solid snow;
    border-radius: 5px;
    padding: 2%;
    margin-top: 5px;
}

// .login-form {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
