.login-register-btn {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
  width: 1000px;
  font-size: 20px;
}

.login-register-btn a {
  text-decoration: none;
  padding: 0 1rem;
  color: snow;
}

.login-register {
  display: flex;
  justify-content: center;
  width: 99vw;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  height: 77vh;
}

.body {
  font-family: "Rubik", sans-serif;
}

.homepage-header {
  color: snow;
  font-size: 40px;
}

.intro-page {
  overflow: hidden;
  background-image: url("/img/home-bg.jpg");
  height: 76.7vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.modal-btn {
  background-color: red;
}

#login-modal {
  background: transparent;
  border: none;
}

.login-body {
  background-color: snow;
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.login-form {
  background-color: #00a7e1;
  padding: 5% 20%;
  color: snow;
  border-radius: 5px;
}

.email-label {
  font-size: 16px;
}

.password-label {
  font-size: 16px;
}

.login-button {
  width: 172px;
  border: 1px solid snow;
  border-radius: 5px;
  padding: 2% 20%;
  background-color: #00a7e1;
  color: snow;
  cursor: pointer;
  font-size: 14px;
}

.login-button:hover {
  background-color: snow;
  color: #00a7e1;
}

.login-form a {
  color: snow;
  text-decoration: none;
  font-size: 12px;
}

.email-input {
  border: 1px solid snow;
  border-radius: 5px;
  padding: 2%;
  margin-top: 5px;
}

.password-input {
  border: 1px solid snow;
  border-radius: 5px;
  padding: 2%;
  margin-top: 5px;
}

.regitration-body {
  align-items: center;
  background-color: snow;
  display: flex;
  font-family: "Rubik", sans-serif;
  height: 97vh;
  justify-content: center;
}

.registration-form {
  background-color: #00a7e1;
  padding: 5% 20%;
  color: snow;
  border-radius: 5px;
}

.register-input {
  border: 1px solid #00a7e1;
  border-radius: 5px;
  padding: 2%;
}

.register-button {
  width: 172px;
  border: 1px solid snow;
  border-radius: 5px;
  padding: 2% 20%;
  background-color: #00a7e1;
  color: snow;
  cursor: pointer;
  font-size: 14px;
}

.register-button:hover {
  background-color: snow;
  color: #00a7e1;
}

.registration-form a {
  color: snow;
  text-decoration: none;
  font-size: 12px;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-wrapper {
  display: flex;
  justify-content: center;
  background-color: #00a7e1;
  width: 100vw;
  z-index: 1;
}

.navigation {
  width: 60%;
}

.navigation a {
  color: snow;
  float: left;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 19px;
}

.navigation a:hover {
  background-color: snow;
  color: #00a7e1;
}

.login-register {
  width: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 19px;
  border: none;
  outline: none;
  color: snow;
  padding: 24px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: snow;
  color: #00a7e1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: snow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #00a7e1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #00a7e1;
  color: snow;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #00a7e1;
  font-size: 17px;
  padding: 12px 16px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #00a7e1;
  color: snow;
}

.wrapper_approval {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.approval_section {
  width: 69%;
}

.wrapper_approval h1 {
  margin-top: 3rem;
}

.wrapper_approval h2 {
  color: #2ff82f;
}

.wrapper_dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #484848;
}

.dashboard_section {
  width: 69%;
  margin-top: 3rem;
}

.invest-btn {
  border: 1px solid #00a7e1;
  border-radius: 20px;
  padding: 5px 20px;
  background-color: snow;
  color: #00a7e1;
  font-size: 24px;
}

.invest-btn:hover {
  background-color: #00a7e1;
  color: snow;
}

.chart {
  background-color: #2a2a2a;
  padding: 2%;
  border-radius: 20px;
  box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  margin-bottom: 5rem;
}

.wrapper-history {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #484848;
}

.history_section {
  width: 69%;
  margin-top: 3rem;
  color: snow;
}

.history_section h3 {
  display: inline;
  margin-right: 2rem;
}

.deposits-table {
  margin-top: 1rem;
  width: 100%;
  background-color: #5a5a5a;
  border-collapse: collapse;
}
.deposits-table tr:nth-child(even) {
  background-color: #343434;
}

.withdrawals-table {
  margin-top: 1rem;
  width: 100%;
  background-color: #5a5a5a;
  border-collapse: collapse;
}
.withdrawals-table tr:nth-child(even) {
  background-color: #343434;
}

table {
  width: 100%;
  border: none !important;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: none !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #00a7e1;
  color: white;
}

.deposit-table-section {
  background-color: #484848;
  padding: 1% 3% 3% 3%;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
}

.history-deposit-btn {
  background-color: #00a7e1;
  color: snow;
  padding: 0.5% 4%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.history-withdrawal-btn {
  background-color: #00a7e1;
  color: snow;
  padding: 0.5% 4%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.history-deposit-btn:hover {
  background-color: #007ca5;
}

.history-withdrawal-btn:hover {
  background-color: #007ca5;
}

.wrapper_deposits {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 78.8vh;
  background-color: #484848;
  color: snow;
}

.deposits_section {
  display: flex;
  flex-direction: column;
  padding: 1% 4%;
  width: 12%;
  margin-top: 3rem;
  background-color: #5a5a5a;
  border-radius: 10px;
  height: 40vh;
  box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
}

.deposit-amount-input {
  border: none;
  border-radius: 10px;
  padding: 3%;
}

.deposit-btn {
  color: snow;
  background-color: #00a7e1;
  padding: 3% 21%;
  border-radius: 10px;
  border: none;
  margin-top: 6%;
  cursor: pointer;
}

.deposit-btn:hover {
  color: snow;
  background-color: #007ca5;
}

.wrapper-withdrawals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 78.8vh;
  background-color: #484848;
  color: snow;
}

.withdrawals_section {
  width: 69%;
  margin-top: 3rem;
  background-color: darkkhaki;
}

.withdrawals_content {
  display: flex;
  justify-content: space-around;
  width: 40%;
  background-color: #5a5a5a;
  border-radius: 10px;
  padding: 1% 4%;
  box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
}

.withdrawal-amount-input {
  border: none;
  border-radius: 10px;
  padding: 3%;
}

.withdrawal-btn {
  color: snow;
  background-color: #00a7e1;
  padding: 4% 17%;
  border-radius: 10px;
  border: none;
  margin-top: 1%;
  cursor: pointer;
}

.withdrawal-btn:hover {
  color: snow;
  background-color: #007ca5;
}

.withdrawal-image {
  background-image: url("/img/withdrawal-form.jpg");
  height: 55vh;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 5% 0 5% 5%;
  border-radius: 10px;
}

.wrapper-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about_section {
  width: 69%;
  margin-top: 3rem;
}

.about-our-team {
  width: 69%;
}

.about-our-team-info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 69%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about-our-team {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.about-our-team img {
  width: 15rem;
  height: auto;
}

.team-member-info {
  width: 25%;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
}

.wrapper-cryptoDerivatives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cryptoDerivatives_section {
  display: flex;
  width: 69%;
  margin-top: 3rem;
}

.crypto-derivatives-types {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 69%;
  height: 70%;
}

.crypto-futures {
  width: 25%;
  height: 70%;
  border: 1px solid #00a7e1;
  border-radius: 5px;
  padding: 3%;
  box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
}

.crypto-futures h3 {
  padding: 1%;
  color: #000;
}

.crypto-futures p {
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

.crypto-futures-btn {
  width: 100%;
  padding: 3%;
  font-size: 16px;
  background-color: snow;
  color: #00a7e1;
  border-radius: 5px;
  border: 1px solid #00a7e1;
  cursor: pointer;
}

.crypto-futures-btn:hover {
  background-color: #00a7e1;
  color: snow;
}

.crypto-futures-btn a {
  color: #00a7e1;
  text-decoration: none;
}

.crypto-futures-btn:hover a {
  color: snow;
}

.crypto-futures img {
  width: 100%;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding: 2% 0;
  width: 100%;
  color: snow;
  background-color: black;
}

.admin-transactions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #484848;
  color: snow;
}

.admin-transactions-wrapper h1 {
  margin: 0;
  padding: 3rem 0 2rem 0;
}

.admin-transactions-top-section {
  width: 69%;
}

.admin-transactions-table-wrapper {
  margin: 0;
  padding: 3%;
  margin: 0.5rem 0 2rem 0;
  width: 63.2%;
  background-color: #484848;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
}
.admin-transactions-table-wrapper tr:nth-child(even) {
  background-color: #343434;
}

table {
  width: 100%;
  border: none !important;
}

.admin-transactions-table {
  margin: 0;
  border: none !important;
  width: 100%;
  background-color: #5a5a5a;
  border-collapse: collapse;
}
.admin-transactions-table tr:nth-child(even) {
  background-color: #343434;
}

.admin-transactions-middle-section {
  width: 69%;
}

.complete-btn {
  background-color: #0a7500;
  color: snow;
  border-radius: 10px;
  border: none;
  padding: 10% 20%;
  margin: 0 30px 0 20px;
  cursor: pointer;
}

.complete-btn:hover {
  background-color: #085b00;
}

.deny-btn {
  background-color: #b10000;
  color: snow;
  border-radius: 10px;
  border: none;
  padding: 13% 20%;
  margin: 0 30px 0 20px;
  cursor: pointer;
}

.deny-btn:hover {
  background-color: #760000;
}

.admin-users-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #484848;
  color: snow;
}

.admin-users-wrapper h1 {
  margin: 0;
  padding: 3rem 0 2rem 0;
}

.admin-user-top-section {
  width: 69%;
}

.admin-users-table-wrapper {
  margin: 0;
  padding: 3%;
  width: 63.2%;
  background-color: #484848;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.65);
}
.admin-users-table-wrapper tr:nth-child(even) {
  background-color: #343434;
}

table {
  width: 100%;
  border: none !important;
}

.admin-users-table {
  margin: 0;
  border: none !important;
  width: 100%;
  background-color: #5a5a5a;
  border-collapse: collapse;
}
.admin-users-table tr:nth-child(even) {
  background-color: #343434;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: none !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #00a7e1;
  color: white;
}

.accept-btn {
  background-color: #0a7500;
  color: snow;
  border-radius: 10px;
  border: none;
  padding: 12% 20%;
  margin: 0 30px 0 20px;
  cursor: pointer;
}

.accept-btn:hover {
  background-color: #085b00;
}

.deny-btn {
  background-color: #b10000;
  color: snow;
  border-radius: 10px;
  border: none;
  padding: 13% 20%;
  margin: 0 30px 0 20px;
  cursor: pointer;
}

.deny-btn:hover {
  background-color: #760000;
}

.my-account-body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: #484848;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: snow;
}

.my-account-wrapper {
  background-color: darkred;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  padding: 2%;
}

.container-wrapper {
  display: flex;
  flex-direction: flex;
  justify-content: space-around;
}

.container {
  background-color: green;
}

.my-account-header {
  width: 100%;
}

.my-account-header h1 {
  margin: 0 0 2rem 1rem;
}

.card {
  background-color: blue;
}

.form-group {
  margin-bottom: 1rem;
  font-size: 18px;
}

div.card-header {
  font-size: 24px;
  margin-bottom: 1rem;
}

.form-control {
  padding: 3%;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn-primary {
  color: snow;
  background-color: #00a7e1;
  padding: 4% 25%;
  border-radius: 10px;
  border: none;
  margin-top: 1%;
  cursor: pointer;
}

table {
  width: 50%;
  margin: auto;
}

table,
th,
td {
  border: 1px solid black;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.admin-dashboard {
  width: 50%;
  margin: auto;
}

.admin-list {
  display: flex;
  width: 50%;
  margin: auto;
}

/*# sourceMappingURL=app.css.map*/